
body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.contenedor {
    background-color: #fff;
    width: 350px;
    border-radius: 8px;
}
.contenedor-texto {
    padding: 20px ;
    text-align: center;
}
.contenedor-texto-wrapper  h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.contenedor-texto-wrapper p {
    margin-bottom: 1rem;
    color:  #6e6e6e;
    font-size: .9rem;
}

.imagen-fondo {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#boton-pagar {
    background-color: #382ae1;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    box-shadow: 4px 8px 32px rgb(56, 42, 225, .4);
    font-weight: bold;
    /* font-size: .8rem; */
}
.boton-cancelar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    text-align: center;
    display: block  ;
    cursor: pointer;
    font-weight: 800;
    color:  #6e6e6e ;
    font-size: .7rem;
}
.contenedor-detalle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(158, 155, 195, 0.1);
    margin-bottom: 1.5rem;
    padding: 15px;
    border-radius: 8px;

}

.contenedor-detalle a {
    /* text-decoration: none; */
    font-size: 12px;
}
.info-img {
    display: flex;
    align-items: center;
    text-align: left;


}
.info-img img{
    height: 40px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}
.info h3 {
    font-size: .85rem;
    margin-bottom: .2rem;
    font-weight: bold;
}
.info p {
    font-size: .9rem;
    color:  #6e6e6e ;
}
