body {
    box-sizing: border-box;
    font-family: "Red Hat Display";

}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;

}
.main {
    background-color:#ebf0ff;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    /* background-color: #D6E1FF; */
    background-size:contain;
    min-height: 100vh;
    /* width: 100vw; */
}
.wrapper {
    width: 250px;
    /* height:  auto; */
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;

}

.content-info {
    padding: 20px;


}
.content-theme {
    text-align: center;
    line-height: 1.4;
    margin-bottom: .8rem;
    padding: 0 10px;
}
.content-theme__title {
    font-size: 1rem;
    margin-bottom: .4rem;
    font-weight: bold;
}
.content-theme__paragraph {
    color: #818388;
    font-size: .6rem;
}
.content-song {
    background-color: hsl(225, 100%, 98%);
    border-radius: 4px;
    margin-bottom: .9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.box {
    display: flex;
}
.information  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.information .name {
    font-weight: bold;
    font-size: .6rem;
}
.information .price {
    color: #818388;
    font-size: .6rem;
}
.icon-music {
    height: 30px;
    padding-right: 10px;
}
.link {
    font-size: .6rem;
    font-weight: bold;
    text-decoration: underline;
}

.button {
    background-color: #382AE1;
    color: white;
    padding: .5rem 1rem;
    width: 100%;
    border-radius: 6px;
    font-size: .7rem;
    margin-bottom: .5rem;
    border: none;
}

.orden {
    text-align: center;
    font-size: .6rem;
    color: #382AE1;
}
